<!DOCTYPE HTML>
<html>
    <head>
        <title>Logs - Star Module Demo</title>
        <% include partials/universal-dependencies/external-css.ejs %>
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row align-items-start no-gutters">

                <% include partials/navigation.ejs %>

                <div class="col-lg-9 col-md-9 scrollable">

                    <div class="row content-top">
                        <header id="page-heading">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Inventory Logs</li>
                            </ol>
                            <h3> <small><span class="glyphicon glyphicon-menu-left sidebar-toggle" aria-hidden="true" id="sidebar-open"></span></small> Logs</h3>
                        </header>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-7 col-sm-12 search">
                            <div class="input-group">
                                <button type="button" correspondence="productName" class="btn btn-secondary dropdown-toggle search-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Name
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item search-option" correspondence="productName">Name</a>
                                    <a class="dropdown-item search-option" correspondence="productId">ID</a>
                                </div>
                                <input type="text" class="form-control" id="search-keyword" placeholder="Keyword">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary search-button"><span class="glyphicon glyphicon-search"></span> Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-11 col-md-11">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#receipts-table" role="tab">Reciept (Factory)</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#transfers-table" role="tab">Transfer (In/Out Other)</a>
                                </li>
                        </div>
                    </div>

                   
                    <div class="row">
                        <div class="tab-content">
                            <div class="tab-pane active" id="receipts-table" role="tabpanel">
                                <table class="table table-hover" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs-down">ID</th>
                                            <th>Product</th>
                                            <th>QTY.</th>
                                            <th>Time</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody count="<%= receipts.count %>" showing="<%= receipts.data.length %>">
                                        <% receipts.data.forEach(function(item, index){ %>
                                        <tr scope="row">
                                            <td class="hidden-xs-down"><%= receipts.data[index]._id %></td>
                                            <td><%= receipts.data[index].productName %></td>
                                            <td><%= results[index].quantity %></td>
                                            <td><%= results[index].timestamp %></td>
                                        <td>
                                            <a href="/demo/transfers/print/packingslip/<%= receipts.data[index]._id %>"><button type="button" class="btn btn-secondary btn-sm">Slip</button></a>
                                        </td>
                                        </tr>
                                    <% }) %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="transfers-table" role="tabpanel">
                                <table class="table table-hover" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs-down">ID</th>
                                            <th>Product</th>
                                            <th>Origin</th>
                                            <th>QTY.</th>
                                            <th>Timestamp</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <% include partials/universal-dependencies/external-js.ejs %>
    </body>
</html>